@import "tailwindcss";

/* Base styles (common) */
.active-link{
    color:#008235 ;
}
.nav-hover:hover{
    text-decoration: underline;
    text-decoration-color: #008235;
    scale: 1.1;
    color: #008235;
    transition: ease-in;
}



