@import "tailwindcss";


/* Base styles (common) */
.active-link{
    color:#008235 ;
    scale:1.1;
    text-decoration: underline;
}
.nav-hover:hover{
    scale: 1.1;
    color: #008235;
    transition: ease-in;
}



